.thumbnails
bin
data/microprofile_dump_html
data/configs/unigine.user
data/configs/default.user
data/.editor2/*
junk
obj
source/x64
CMakeCache.txt
source/**/*.obj
unigine_editor.cfg
*.cache
*.modified
*.tlog
.vs
*.vcxproj.user
*.VC.db
*.opendb
*.opensdf
*.pro.user
*.sdf
*.suo
